page-custom-share {
    .custom-item {
        .name {
            font-size: 14px;
            font-weight: normal;
            color: #333;
        }
        .sex {
            font-size: 10px;
            color: #999;
        }
        .mobile {
            float: right;
            display: block;
            font-size: 12px;
            color: rgb(60,112,207);
        }

        p {
            font-size: 11px!important;
            color: #999;
        }
        .info {
            margin-top: 5px;
        }

        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }

        .state {
            // width: 55px;
            // height: 22px;
            // line-height: 20px;
            display: inline-block;
            padding: 2px 3px;
            border-radius: 2px;
            text-align: center;
            font-size: 10px;
            // background: red;
            border: 1px solid #ccc;
        }

        .state-0 {
            color: #ccc;//rgb(44,102,177);
            border-color: #ccc;//rgb(44,102,177);
        }

        .state-2 {
            color: rgb(204,81,64);
            border-color: rgb(204,81,64);
        }

        .state-1 {
            color: rgb(110,187,97);
            border-color: rgb(110,187,97);
        }
    }
}
