page-work-log {
    ion-row {
        margin: 0 !important;
        padding: 0 !important;
        ion-col {
            margin: 0 !important;
            padding: 0 !important;

            font-size: 14px !important;
            color: #666;
        }

        
    }
    .right {
        text-align: right;
        font-size: 12px;
    }

    .body {
        color: #555;
        margin-top: 10px;
        font-size: 12px;
    }

    .time {
        font-size: 12px;
        color: #999;
    }

    .state {
        display: inline-block;
        padding: 2px 3px;
        border: 1px solid #ccc;
        font-size: 10px;
        border-radius: 2px;
    }

    .approving {
        color: color($colors, main-theme);
        border-color: color($colors, main-theme);
    }

    .approved {
        color: rgb(79,173,131);
        border-color: rgb(79,173,131);
    }
}
