<!--
  Generated template for the WorkLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>日志</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="empty-error-box" *ngIf="needShowErrorEmptyBox">
    <p>{{errorEmptyMsg}}</p>
  </div>
  <ion-list *ngIf="dataList.length > 0">
    <button detail-none ion-item (click)="openItem(item);" *ngFor="let item of dataList">
      <ion-row class="info">
        <ion-col col-9>
          <span class="time">创建于 {{item.DailyLogCreateDateStr}}</span>
        </ion-col>
        <ion-col col-3 class="right">
          <span class="state state-{{item.DailyLogState}}">{{logStateDesc(item.DailyLogState)}}</span>
        </ion-col>
      </ion-row>
      <p class="body" text-wrap>
        {{item.DailyLogContent}}
      </p>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
    <!-- <div padding> -->
    <button ion-button color="main-theme" full (click)="newLog();">
      新增日志
    </button>
    <!-- </div> -->
  </ion-footer>
