page-contacts {
    .content {
        background-color: rgb(242,242,242);

        h2 {
            font-size: 14px;
            color: #333;
        }

        ion-note {
            font-size: 14px;
            color: #999;
        }
    }
    .sub-navbar {
        background-color: white;
        .search {
            background: white;
        }

        .breadcrumb-container {
            padding: 0 10px;
        }

        

        .breadcrumb::-webkit-scrollbar {
            border:none;
            width:0;
            background: rgba(0,0,0,0);
          }
           
          .breadcrumb::-webkit-scrollbar-track {
            border:none;
            width:0;
            background: rgba(0,0,0,0);
          }
           
          .breadcrumb::-webkit-scrollbar-thumb {
            border:none;
            width:0;
            background: rgba(0,0,0,0);
          }

        .breadcrumb {
            width: 100%; 
            height: 50px; 
            line-height: 50px;
            white-space: nowrap;
            font-size: 14px;
            color: color($colors, main-theme);
            .scroll-content {
                overflow-x: false !important;
            }
            
            ion-icon {
                color: #ccc;
                font-size: 16px;
            }

            .breadcrumb-item {
                // display: inline-block;
                padding-right: 6px;
            }

            .active {
                color: #999;
            }
            // padding: 0 10px;
        }
        // .breadcrumb {
        //     padding: 10px 15px;
        //     list-style: none;
        //     // background: #C72314;
        //     height: 40px;
        //     font-weight: normal;
        //     color: color($colors, main-theme);
        //     overflow: hidden;
        //     li {
        //       display: inline-block;
        //       color: color($colors, main-theme);
        //     }
        //     a {
        //       color:color($colors, main-theme);
        //       text-decoration: none;
        //     }
        //     .active {
        //         color: #999;
        //     }
        //     .right-arrow {
        //       padding: 0 10px;
        //       font-size: 13px;
        //       color: #ddd;
        //     }
        //   }
    }

    ion-icon {
        color: rgb(188, 188, 188);
    }

    .item-cb1 {
        float: left;
        width: 20px;
        height: 20px;
        line-height: 20px;
        // border: 1px solid rgb(188, 188, 188);
        // border-radius: 2px;
        // border-radius: 50%;
        margin-top: 11px;//calc(50% - 20px);
        margin-right: 15px;
        text-align: center;
        color: rgb(188, 188, 188);
        // font-size: 12px;
        ion-icon {
            // width: 20px;
            // height: 20px;
            font-size: 28px;
            margin-top: -4px;
            margin-left: 2px;
        }
    } 
}
