page-product-list {
    ion-note {
        p {
            text-align: right;
        }

        p.money {
            font-size: 20px;
            color: rgb(237,112,45);
        }
    }

    .product {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
}
