page-leave-bill {
    .custom-item {
        ion-row,ion-col {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 14px;
            color: #333;
            margin-bottom: 10px;
        }

        .time {
            float:right;
            display: inline-block;
            font-size: 11px;
            color: #999;
        }

        p {
            font-size: 11px;
            color: #999;
            // margin: 0!important;
        }

        .days {
            margin-top: 10px; 
        }

        .begin-date {
            // margin-top: 5px;
        }

        .end-date {
            // padding-top: 5px; 
        }

        .state {
            // width: 55px;
            // height: 22px;
            // line-height: 20px;
            display: inline-block;
            padding: 2px 3px;
            border-radius: 2px;
            text-align: center;
            font-size: 10px;
            // background: red;
            border: 1px solid #ccc;

            margin-top: 0;
        }

        .state-1 {
            color: rgb(44,102,177);
            border-color: rgb(44,102,177);
        }

        .state-2 {
            color: rgb(197,55,36);
            border-color: rgb(197,55,36);
        }

        .state-0 {
            color: #999;
            border-color: #999;
        }
    }
}
