page-my-contacts {
    .custom-item {
        h2 {
            font-size: 16px;
            color: #333;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
    }
}
