<!--
  Generated template for the FlowDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>我的事项</ion-title>
    <!-- <ion-buttons end *ngIf="!showCharts">
      <button ion-button (click)="openFlowChart();">
        <img src="assets/imgs/btn_flowpic.png" class="custom-img-btn">
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content class="content">
  <div class="flow-head">
    <h2 class="name">{{item.FormName}}</h2>
    <p class="flow-no">编号:{{item.FormInstanceID}}</p>
  </div>
  <h2>详细信息</h2>
  <div class="flow-body">
    <div class="empty-error-box" *ngIf="fieldsList.length == 0">
      <p>暂无详细信息</p>
    </div>
    <table *ngIf="fieldsList.length > 0">
      <tr *ngFor="let info of fieldsList">
        <td class="label">{{info.label}}</td>
        <td class="value">{{info.value && info.value.split('|')[0]}}</td>
      </tr>
    </table>
  </div>
  <div class="flow-charts" *ngIf="showCharts" id="flowChart">
    <img src="assets/imgs/img-flow.png">
  </div>
  <h2 class="segtitle">
    <a class="link" [class.active]="changeSegType === 0" tappable (tap)="changeSeg(0);">审批信息</a>
    <a class="link" [class.active]="changeSegType === 1" tappable (tap)="changeSeg(1);">流程总览</a>
  </h2>

  <!-- 流程审批信息 -->
  <div class="flow-opinions" [hidden]="changeSegType !== 0">
    <div class="empty-error-box" *ngIf="flowOpinions.length == 0">
      <p>暂无审批信息</p>
    </div>
    <div class="flow-opinion" *ngFor="let opinion of flowOpinions">
      <p class="agree sign-{{opinion.SignType}}">{{opinion.SignTypeStr}}</p>
      <p class="opinion" *ngIf="!!opinion.SignAdvice">{{opinion.SignAdvice}}</p>
      <p class="user">
        <span class="name">{{opinion.SignBy}}({{opinion.PositionName}})</span>
        <span class="time">{{opinion.SignTime}}</span>
      </p>
    </div>
  </div>

  <!-- 流程总览 -->
  <div class="flow-tree" [hidden]="changeSegType !== 1">
    <ul class='time-line'>
      <li class='timeline-stone timeline-item' 
          [class.processed]="item.IsProcessed === '1'"
          [class.start]="item.SignStepNum === '0'"
          *ngFor="let item of flowTreeData">
        <div class='list-content'>
          <div class="title">{{formatNodeName(item)}}</div>
        </div>
      </li>
    </ul>
  </div>

</ion-content>

<ion-footer *ngIf="flowType === '0'">
  <div class="flow-buttons" *ngIf="operType === 1">
    <ion-row>
      <ion-col col-6>
        <button ion-button clear (click)="reject();">
          <img src="assets/imgs/btn_reject.png">&nbsp;驳回
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear (click)="doAgree();">
          <img src="assets/imgs/btn_agree.png">&nbsp;同意
        </button>
      </ion-col>
    </ion-row>
  </div>
  <button ion-button full color="main-theme" (click)="btnClick();" *ngIf="operType && operType !== 1">{{ operType === 3 ? '知会' : '确定' }}</button>
</ion-footer>
