page-schedule {
    .content {
        background-color: rgb(244,244,244);
    }

    .events {
        background: white;
        margin-top: 10px;
        .heading {
            margin: 0;
            padding: 10px;
            border-bottom: 0.55px solid #ccc; 
            font-size: 16px;
            color: rgb(120,120,120);

            clear: both;
            .edit-btn {
                float: right;
                display: block;
                // background: red;
                padding: 5px 10px;
                margin-top: -5px;
                margin-right: -5px;
                cursor: pointer;
            }
        }
    }

    .custom-item {
        h2 {
            font-size: 14px;
            // margin-top: 3px;
        }
        p {
            font-size: 12px;
        }

        ion-icon {
            font-size: 13px;
        }
    }

    .days-btn small {
        font-size: 6px!important;
    }
}
