page-common-select {
    .custom-item {
        font-size: 14px;
        color: #666;

        ion-note {
            img {
                max-width: 20px;
                margin-top: 5px;
            }
        }
    }
}
