page-flow {
    .segment-box {
        background-color: white;
        padding: 10px;
    }
    .user-time {
        clear: both;
    }

    .item-custom h2 {
        position: relative;
        padding-left: 10px;
    }

    .item-custom h2:before {
        content: '';
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(199, 70, 51);
        top: 7px;
        left: 0;
    }
    
    .user-avatar {
        float: left;
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }

    .other-info {
        float: left;
        margin-top: 6px;
    }
}
