<!--
  Generated template for the PotentialCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>意向客户</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar color="white-color">
    <ion-searchbar placeholder="搜索"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>


<ion-content>
  <ion-list>
    <button detail-none ion-item *ngFor="let item of dataList" class="custom-item" (click)="openItem(item);">
      <h2 class="name">{{item.IntentCustomerName}}
        <span class="sex">({{item.Sex == 0 ? '女' : '男'}})</span>
        <span class="mobile">{{item.MobilePhone}}</span>
      </h2>
      <ion-row>
        <ion-col col-7>
          <p class="info">{{item.Area}}&emsp;&emsp;{{item.Unit}}</p>
          <p class="time">{{item.CreateDateStr}}</p>
        </ion-col>
        <ion-col col-5 style="text-align:right;">
          <p style="padding-top: 15px;" *ngIf="item.stars && item.stars.length > 0">
            <span class="stars">
              <img src="assets/imgs/icon-star.png" *ngFor="let star of item.stars">
            </span>亲密度</p>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <!-- <div padding> -->
  <button ion-button color="main-theme" full (click)="newItem();">
    新增意向客户
  </button>
<!-- </div> -->
</ion-footer>
